@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Grechen+Fuemen&family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

i {
    font-size: 9px;
}

h1, h2, h3, h4, h5
 {
    font-family: 'Caveat', cursive;
}

.font {
    font-family: 'Grechen Fuemen', cursive;
}

.homepage {
    background-image: url(img/cover3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.card  {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 330px;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  background-color: none;
  border-radius: 5px 5px 0 0;
}

.card-header img {
      height: 4em; 
}

#home {
    background-color: unset;
    border: none;
}

.homepage li {
    list-style: none;
    margin: 3%;
}

#nav-home {
    justify-content: center;
}

#pills-tab {
    background-color: none;
    justify-content: end;   
}

#pills-tab-nav {
    justify-content: center; 
    justify-content: space-around;
}

.nav-link {
    color:#a31116 !important;
    font-size: medium;
}

#action {
    background-color: #a31116 !important;
    color: #f6efef !important;
}

.nav-link.active {
    background-color: #a31116 !important;
    color: #f6efef !important;
    cursor: pointer; 
}

.nav-link:hover,
.nav-link:focus {
    background-color: #a31116 !important;
    color: #f6efef !important;
}


.nav {
    width: 100% !important;

}

.nav-item {
    margin: 1% !important;
}

#omne {
   background-image: url(img/bccontact4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   background-attachment: fixed;
     background-position: center;
} 

#fyzio {
   background-image: url(img/bcfyzio\ \(kopie\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     background-attachment: fixed;
     background-position: center;
} 

#masaze {
   background-image: url(img/bcmasaz5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     background-attachment: fixed;
     background-position: center;
} 

#kontakt {
   background-image: url(img/bccontact4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     background-attachment: fixed;
     background-position: center;
} 

.foto-omne img {
    width: 30%;
    border-radius: 5px;
    float: left;
    margin-right: 25px;
}

.foto-fyzio img {
    width: 30%;
    border-radius: 5px;
    float: left;
   margin-right: 25px;
}

.foto-masaz img {
    width: 30%;
    border-radius: 5px;
    float: right;
    margin-left: 25px;
}

/* .foto-kontakt img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-bottom: 30px;
} */


#logo {
     height: 4em; 
     width: 4em;
     margin: 1;
} 

#fyzioterapeut {
    height: 5em;
    justify-content: flex-start;
    justify-content: space-between;
}


 